.Rproj.user/
take_2.Rproj
.Rproj.user
.RData
.Rhistory
project_evaluation.md
quiz2.Rmd
quiz2.docx
quiz3.Rmd
quiz3.html
quiz4.Rmd
quiz4.pdf
sample_file.R
statinference-031_Variance.txt
test_sample_file.R
